<template name="locations_list">
    <div class="mdl-grid demo-content">
        {{#each locations}}
        	{{> location}}
        {{/each}}
        {{#if moreResults}}
        	<button id="showMoreResults" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button">load more </button>
        {{/if}}
    </div>
</template>



<template name="location">
    <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid ">
        <div class="mdl-list__item mdl-list__item--three-line mdl-cell--12-col">
            <span class="mdl-list__item-primary-content">
				<i class="material-icons mdl-list__item-avatar">person</i>
				<span>{{ properties.name }} </span>
	            <span class="mdl-list__item-text-body">{{ properties.phone}} - {{ properties.amount }}</span>
            </span>
            <span class="mdl-list__item-secondary-content">
				<a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
			</span>
        </div>
    </div>
</template>