<template name="_header">
  
<header class="jackpot-header mdl-layout__header mdl-color--grey-300 mdl-color-text--grey-600 mdl-layout__header--waterfall  ">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">Jackpot</span>
          <div class="mdl-layout-spacer"></div>
          <span class="mdl-layout-title">{{ properCase title }}</span>



        </div>
       
          {{> contextualNav}}
     
      </header>
      <div class="jackpot-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header class="jackpot-drawer-header">

          <img src="{{#with currentUser}}{{avatar 48 currentUser}}{{/with}}" class="jackpot-avatar">
          <div class="jackpot-avatar-dropdown">
            <span>{{ currentUser.emails.[0].address }}</span>
            <div class="mdl-layout-spacer"></div>
            <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
              <i class="material-icons" role="presentation">arrow_drop_down</i>
              <span class="visuallyhidden">Accounts</span>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
              <li id="profile-button" class="mdl-menu__item"><i class="material-icons">account_box</i> Profile</li>
              {{> atNavButton }}
            </ul>
          </div>
        </header>
        <nav class="jackpot-navigation mdl-navigation mdl-color--blue-grey-800">
          <a class="mdl-navigation__link {{ isActiveRoute regex='dashboard' }}" href="{{pathFor 'dashboard'}}"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">dashboard</i>Dashboard</a>
          <a class="mdl-navigation__link {{ isActiveRoute regex='locations' }}" href="{{pathFor 'locations'}}"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">business</i>Locations</a>

          <div class="mdl-layout-spacer"></div>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>
        </nav>
      </div>
</template>
