<template name="appLayout">

<div class="jackpot-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

  <!--[if lt IE 9]>
    <p class="browser-warning"><strong><i class="icon-exclamation-sign"></i> Warning</strong> - You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to properly view this website.</p>
  <![endif]-->

  {{> _header}}

  <main class="mdl-layout__content mdl-color--grey-100">
 	  {{> yield}}
  </main>

  {{!-- {{> *_footer}} --}}
</div>
</template>
