<template name="loginOut">
<div class="mdl-layout mdl-js-layout mdl-color--grey-100 ">

  <!--[if lt IE 9]>
    <p class="browser-warning"><strong><i class="icon-exclamation-sign"></i> Warning</strong> - You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to properly view this website.</p>
  <![endif]-->



  <main class="mdl-layout__content center">
  	<h1 class="center-text">Jackpot</h1>
    {{> fullPageAtForm}}
  </main>


</div>
</template>
