

.center {
	margin: 0 auto;
}
.center-text {
	text-align: center;
}




/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.jackpot-avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
.jackpot-layout .jackpot-header.mdl-layout__header.is-compact {
    max-height: none;
}
.jackpot-layout .jackpot-header.mdl-layout__header--waterfall {
  overflow: initial;
}
.jackpot-layout .jackpot-header .mdl-textfield {
  padding: 0px;
  margin-top: 41px;
}
.jackpot-layout .jackpot-header .mdl-textfield .mdl-textfield__expandable-holder {
  bottom: 19px;
}
.jackpot-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}
.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.jackpot-drawer {
  border: none;
}
/* iOS Safari specific workaround */
.jackpot-drawer .mdl-menu__container {
  z-index: -1;
}
.jackpot-drawer .jackpot-navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */
.jackpot-drawer .mdl-menu .mdl-menu__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
          .material-icons {
              margin-right: 10px;

          }
}
.jackpot-drawer-header {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 16px;
}
.jackpot-avatar-dropdown {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.jackpot-navigation {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.jackpot-layout .jackpot-navigation .mdl-navigation__link {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}
.jackpot-layout .jackpot-navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}
.jackpot-navigation .mdl-navigation__link .material-icons, {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

.jackpot-content {
  max-width: 1080px;
}

.jackpot-charts {
  -webkit-align-items: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
}
.jackpot-chart:nth-child(1) {
  color: #ACEC00;
}
.jackpot-chart:nth-child(2) {
  color: #00BBD6;
}
.jackpot-chart:nth-child(3) {
  color: #BA65C9;
}
.jackpot-chart:nth-child(4) {
  color: #EF3C79;
}
.jackpot-graphs {
  padding: 16px 32px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
/* TODO: Find a proper solution to have the graphs
 * not float around outside their container in IE10/11.
 * Using a browserhacks.com solution for now.
 */
_:-ms-input-placeholder, :root .jackpot-graphs {
  min-height: 664px;
}
_:-ms-input-placeholder, :root .jackpot-graph {
  max-height: 300px;
}
/* TODO end */
.jackpot-graph:nth-child(1) {
  color: #00b9d8;
}
.jackpot-graph:nth-child(2) {
  color: #d9006e;
}

.jackpot-cards {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
              -ms-grid-row-align: flex-start;
          align-items: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}
.jackpot-cards .jackpot-separator {
  height: 32px;
}
.jackpot-cards .mdl-card__title.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 400;
}
.jackpot-cards ul {
  padding: 0;
}
.jackpot-cards h3 {
  font-size: 1em;
}
.jackpot-updates .mdl-card__title {
  min-height: 200px;
  background-image: url('images/dog.png');
  background-position: 90% 100%;
  background-repeat: no-repeat;
}
.jackpot-cards .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}

.jackpot-options h3 {
  margin: 0;
}
.jackpot-options .mdl-checkbox__box-outline {
  border-color: rgba(255, 255, 255, 0.89);
}
.jackpot-options ul {
  margin: 0;
  list-style-type: none;
}
.jackpot-options li {
  margin: 4px 0;
}
.jackpot-options .material-icons {
  color: rgba(255, 255, 255, 0.89);
}
.jackpot-options .mdl-card__actions {
  height: 64px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}


//global placeholder text
::-webkit-input-placeholder {
   font-weight: normal;
   color: rgba(0,0,0,.26);
}

:-moz-placeholder { /* Firefox 18- */
   font-weight: normal;
   color: rgba(0,0,0,.26); 
}

::-moz-placeholder {  /* Firefox 19+ */
   font-weight: normal;
   color: rgba(0,0,0,.26); 
}

:-ms-input-placeholder {  
   font-weight: normal;
   color: rgba(0,0,0,.26);  
}
