<template name="locations_old">
  <div class="template-locations">

<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
      <div class="mdl-tabs__tab-bar mdl-color--grey-100 ">
        <a href="#list-panel" class="mdl-tabs__tab is-active">List</a>
        <a href="#map-panel" class="mdl-tabs__tab">Map</a>
    </div>
 
    
    <div class="mdl-tabs__panel is-active" id="list-panel">
      {{> yield region="list"}}
    </div>
    <div class="mdl-tabs__panel" id="map-panel">
        {{> yield region="map"}}
    </div>

</div>
   
  
  </div>
</template>
<template name='locations'>
  <div class="template-locations">
  {{#if isView 'locations_list'}}
    {{> yield region="list"}}
  {{/if}}
  {{#if isView 'map'}}
    {{> yield region="map"}}
  {{/if}}
  </div>
</template>