.template-locations {

    //todo: fix a better layout... this has issues with scroll sometimes.
    //probably a footer or a waterfall nav would work best
    #map {
        height: 100%;
        width: 100%;
        position: absolute;
    }

}
