<template name="home">
  <div class="template-home">

{{!-- <!-- Use `name` to add a custom class to the outer container -->
  {{#basicTabs name="" tabs=tabs activeTab=activeTab}}
    <!--
      There are two ways to define content for your tabs:

      1. Wrap each tabbed section in a blank `<div></div>`.
         Sections must correspond with the order of the tabs you specified.

      2. Wrap each tabbed section in the provided block helper (RECOMMENDED!).
         `{{#tabContent slug="nameOfSlug"}} ... {{/tabContent}}`
         These can be defined in any order you like.
    -->
    {{#tabContent slug="list"}}
      {{> yield region="list"}}
    {{/tabContent}}

    {{#tabContent slug="map"}}
      {{> map }}
    {{/tabContent}}
  {{/basicTabs}} --}}

  </div>
</template>
