.template-profile {


}
	.form-wrapper {
		padding: 10px;
	}
	.mdl-card__media {
	    margin: 0;
	    img{
	    	width: 100%;
	    	height: auto;
	    }
	}

   .is-small-screen .mdl-card__title-text { 
    	font-size: 17px;

    }


	@-webkit-keyframes flash {

	    5% {
	        background-color: #FFFDE7;
	        opacity:1;
	    }
	    100% {
	        background-color: #fff;
	    }
	}

	.flash {
	    -webkit-animation-name: flash;
	    -webkit-animation-duration: 1500ms;
	    -webkit-animation-iteration-count: 1;
	    -webkit-animation-timing-function: ease-in-out;
	}