<template name="profile">
  <div class="template-profile">

<!-- Image card -->
<style>
.jackpot-card-image.mdl-card {
  width: 256px;
  height: 256px;
  background: url('{{#with currentUser}}{{avatar 256 currentUser}}{{/with}}') center / cover;
}
.jackpot-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.jackpot-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
</style>



   

  </div>



        <div class="mdl-grid jackpot-content">

         {{!-- <div class="mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col">

            {{ > testForm}}

          </div> --}}


    {{!--       <div class="jackpot-card-image mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col ">
            <div class="mdl-card__title mdl-card--expand"></div>
            <div class="mdl-card__actions">
              <span class="jackpot-card-image__filename">{{currentUser.emails.[0].address}}</span>
            </div>
          </div> --}}


 <div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-shadow--2dp">
  <figure class="mdl-card__media">
    <img class="img-responsive img-full" src="{{#with currentUser}}{{avatar 460 currentUser}}{{/with}}" alt="" />
  </figure>
  <div class="mdl-card__title">
    <h1 class="mdl-card__title-text">{{currentUser.emails.[0].address}}</h1>
  </div>
  <div class="mdl-card__supporting-text">
    {{ > testForm}}
  </div>
 
</div>
         

        {{!--   <div class="jackpot-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">



            <div class="jackpot-separator mdl-cell--1-col"></div>

            <div class="jackpot-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
              <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
                <h2 class="mdl-card__title-text">Updates</h2>
              </div>
              <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                Non dolore elit adipisicing ea reprehenderit consectetur culpa.
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple">Read More<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
              </div>
            </div>

            <div class="jackpot-separator mdl-cell--1-col"></div>


            <div class="jackpot-options mdl-card mdl-color--deep-purple-500 mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
              <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
                <h3>View options</h3>
                <ul>
                  <li>
                    <label for="chkbox1" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events is-upgraded" data-upgraded=",MaterialCheckbox,MaterialRipple">
                      <input type="checkbox" id="chkbox1" class="mdl-checkbox__input">
                      <span class="mdl-checkbox__label">Click per object</span>
                    <span class="mdl-checkbox__focus-helper"></span><span class="mdl-checkbox__box-outline"><span class="mdl-checkbox__tick-outline"></span></span><span class="mdl-checkbox__ripple-container mdl-js-ripple-effect mdl-ripple--center" data-upgraded=",MaterialRipple"><span class="mdl-ripple"></span></span></label>
                  </li>
                  <li>
                    <label for="chkbox2" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events is-upgraded" data-upgraded=",MaterialCheckbox,MaterialRipple">
                      <input type="checkbox" id="chkbox2" class="mdl-checkbox__input">
                      <span class="mdl-checkbox__label">Views per object</span>
                    <span class="mdl-checkbox__focus-helper"></span><span class="mdl-checkbox__box-outline"><span class="mdl-checkbox__tick-outline"></span></span><span class="mdl-checkbox__ripple-container mdl-js-ripple-effect mdl-ripple--center" data-upgraded=",MaterialRipple"><span class="mdl-ripple"></span></span></label>
                  </li>
                  <li>
                    <label for="chkbox3" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events is-upgraded" data-upgraded=",MaterialCheckbox,MaterialRipple">
                      <input type="checkbox" id="chkbox3" class="mdl-checkbox__input">
                      <span class="mdl-checkbox__label">Objects selected</span>
                    <span class="mdl-checkbox__focus-helper"></span><span class="mdl-checkbox__box-outline"><span class="mdl-checkbox__tick-outline"></span></span><span class="mdl-checkbox__ripple-container mdl-js-ripple-effect mdl-ripple--center" data-upgraded=",MaterialRipple"><span class="mdl-ripple"></span></span></label>
                  </li>
                  <li>
                    <label for="chkbox4" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events is-upgraded" data-upgraded=",MaterialCheckbox,MaterialRipple">
                      <input type="checkbox" id="chkbox4" class="mdl-checkbox__input">
                      <span class="mdl-checkbox__label">Objects viewed</span>
                    <span class="mdl-checkbox__focus-helper"></span><span class="mdl-checkbox__box-outline"><span class="mdl-checkbox__tick-outline"></span></span><span class="mdl-checkbox__ripple-container mdl-js-ripple-effect mdl-ripple--center" data-upgraded=",MaterialRipple"><span class="mdl-ripple"></span></span></label>
                  </li>
                </ul>
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--blue-grey-50" data-upgraded=",MaterialButton,MaterialRipple">Change location<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
                <div class="mdl-layout-spacer"></div>
                <i class="material-icons">location_on</i>
              </div>
            </div>
          </div> --}}
        </div>
  
</template>

<!-- Wrapped input with form-wide schema -->
<template name="testForm">

  {{#myFormBlock schema=schema action=action data=profile}}

    {{> basicInput field='firstname'}}
    {{> basicInput field='lastname'}}

    {{> basicInput field='website'}}

  {{/myFormBlock}}

</template>

<template name="basicInput">

  <div class="mdl-textfield  mdl-js-textfield  mdl-textfield--floating-label {{#if submitted}}{{#unless valid}}is-invalid{{/unless}}{{/if}}">
      <input class="mdl-textfield__input reactive-element" type="text"  value={{value}} />
       <label class="mdl-textfield__label">{{label}} {{!-- {{originalValue}} --}}</label>

  {{#if submitted}}
    {{#unless valid}}<span class="mdl-textfield__error">{{errorMessage}}</span>{{/unless}}
  {{/if}}
   </div>
</template>



<template name="myFormBlock">
  <div class="form-wrapper">

  <form autocomplete="off">
    {{> UI.contentBlock
        data=data
        context=context
    }}

  </form>
  </div>
</template>






<template name="basicInputs">
{{!-- 
  <div class="form-group {{#unless valid}}has-error{{/unless}}">
        <label class="control-label" for="{{field}}">{{label}}</label>

      <input name="{{field}}" class="form-control reactive-element" value="{{value}}">
   {{#if remoteValueChange}}
    <p style="color:black">
      This field has been updated remotely. Load the latest
      <span title={{newRemoteValue}}>changes</span>?
      <button class="accept-changes">Load</button> <button class="ignore-changes">Ignore</button>
    </p>
  {{/if}}
  {{#if submitted}}
    {{#if errorMessage}}<p class="help-block">{{errorMessage}}</p>{{/if}}
  {{/if}}
   </div> --}}
</template>

