<template name="afFormGroup_mdl">
  <div class="mdl-grid">
    <div class="{{#if addInputField}}input-field{{/if}} mdl-cell mdl-cell--12-col {{getMdlComponentOuterDivClass this this.afFieldInputAtts}}">
            
            {{#if skipLabel}}
                {{> afFieldInput this.afFieldInputAtts}}
            {{else}}
                {{>afLabel_mdl this}}
                {{> afFieldInput this.afFieldInputAtts}}
            {{/if}}

            {{#if afFieldIsInvalid name=this.name}}
                    {{#if mdlErr}}
                        <span class="mdl-textfield__error">{{{afFieldMessage name=this.name}}} </span>
                    {{else}}
                        <div class="red-text">
                            <i class="mdi-alert-warning"></i>{{{afFieldMessage name=this.name}}}
                        </div>                    
                    {{/if}}
            {{/if}}

    </div>
  </div>
</template>