<template name="contextualNav">
    {{#if isNav "locations"}}
    <div class="mdl-layout__header-row mdl-layout__header-row-2 mdl-color--white">
        <!-- Navigation -->
        <a class="mdl-button mdl-js-button mdl-button--icon" id="show-map" href=""><i class="material-icons">map</i></a>
        <a class="mdl-button mdl-js-button mdl-button--icon" id="show-list" href=""><i class="material-icons">view_list</i></a>
       
        <div class="mdl-layout-spacer"></div>
       
        <nav class="mdl-navigation">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                <label class="mdl-button mdl-js-button mdl-button--icon" for="search-2">
                    <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                    <input class="mdl-textfield__input" type="text" id="search-2">
                    <label class="mdl-textfield__label" for="search-2">Enter your query...</label>
                </div>
            </div>

        </nav>
           <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
            <i class="material-icons">filter_list</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
            <li class="mdl-menu__item">Sort Option</li>
            <li class="mdl-menu__item">Sort Option</li>
            <li class="mdl-menu__item">Sort Option</li>
          </ul>
    </div>
    {{/if}}
</template>